.contact{
    max-width: 668px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 150px;
    @media (max-width: 576px) {
        margin-bottom: 50px;
    }
    .contact-title{
        text-align: center;
        font-weight: 700;
        font-size: 46px;
        line-height: 55px;
        @media (max-width: 768px) {
            font-size: 36px;
        }
        @media (max-width: 576px) {
            font-size: 26px;
        }
    }
    .contact-open{
        text-decoration: none;
        width: 260px;
        height: 260px;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #fff;
        background: #1378EF;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        margin: 0 auto;
        margin-top: -100px;
        @media (max-width: 576px) {
            width: 200px;
            height: 200px;
        }
    }
}