<footer>
    <div class="footer">
        <div class="footer__container">
            <h2 class="footer-title">Calculate the timing and cost of your project</h2>
            <strong class="footer-subtitle">Leave your phone number for communication</strong>
            <form action="/" class="footer__form">
                <input placeholder="Name" type="text" class="footer__form--name">
                <input placeholder="Phone" type="phone" class="footer__form--phone">
                <textarea placeholder="Message" class="footer__form--message"></textarea>
                <button class="footer__form--send">Discuss the project</button>
            </form>
        </div>
    </div>
</footer>
