<div class="modal__wrapper close">
    <div class="modal__form">
        <div class="modal__close close"><img src="/assets/images/svg/close.svg" alt="close" class="modal__close--img"></div>
        <h4 class="form-title">Contact me:</h4>
        <form action="/" class="form">
            <input type="text" placeholder="Name" class="form-name input">
            <textarea class="input" placeholder="Message"></textarea>
            <button class="send">Discuss the project</button>
        </form>
    </div>
</div>