<header>
  <div class="container">
        <div class="header__left">
            <img class="header__logo" src="/assets/images/svg/logo.svg" alt="Portfolio logo">
        </div>
        <div class="header__right">
            <nav class="header__nav">
                <div class="header__nav-item"><a data-sroll href="#about">About</a></div>
                <div class="header__nav-item"><a data-sroll href="#projects">Projects</a></div>
                <div class="header__nav-item"><a data-sroll href="#reviews">Reviews</a></div>
                <div class="header__nav-item"><a data-sroll href="#contact">Contacts</a></div>
            </nav>
        </div>
    </div>
</header>
