<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>
    <div class="overlay">
        {{> header }}
        
        {{> body }}

    </div>
    {{> form }}
    {{> footer }}
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/canvas.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/tabs.js"></script>
    <script src="assets/js/drop.js"></script>
</body>
</html>
